
.grid-container {
    display: grid;
    grid-template-areas:
            'about about about projects projects projects'
            'tech tech tech projects projects projects'
            'resume resume contact contact contact contact';
    grid-gap: 15px;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
}
.grid-container > div {
    text-align: center;
    font-size: 30px;
    position: relative;
    box-shadow: 2px 1px 1px lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}