.tile-title {
    color: white;
    opacity: .7;
    font-weight: 700;
    position: absolute;
    bottom: 30px;
    left: 40px;
    transition: bottom 0.2s, left 0.2s, opacity 0.2s;
    font-size: 1em;
    line-height: 1em;
}

.is-hovered .tile-title {
    bottom: 34px;
    left: 44px;
    opacity: .8;
}

.name {
    grid-area: name;
    background-color: #292F36;
}

.name .tile-title {
    bottom: 36px;
    left: 40px;
    max-width: 260px;
    opacity: .9;
    font-size: 1.2em;
    line-height: .9em;
}

.name .tile-title div:nth-child(1) {
    margin-bottom: 5px;
}

.name .tile-title div:nth-child(2) {
    font-size: .5em;
    line-height: 1.2em;
    margin-top: 5px;
}

.about {
    grid-area: about;
    background-color: #058ED9;
}

.work {
    grid-area: work;
    background-color: #FF6B6B;
}

.tech {
    grid-area: tech;
    background-color: #99a6b2;
}

.contact {
    grid-area: contact;
    background-color: #FFE66D;
}

.resume {
    grid-area: resume;
    opacity: .9;
}

.resume .tile-title {
    opacity: .9;
    color: #292F36;
    font-weight: 900;
    font-size: 2.1em;
    -webkit-transform: translatex(-50%) translateY(-50%);
    -ms-transform: translatex(-50%) translateY(-50%);
    transform: translatex(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    bottom: 0;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    .tile-title {
        font-size: .8em;
        bottom: 25px;
        left: 30px;
    }

    .is-hovered .tile-title {
        bottom: 29px;
        left: 34px;
    }

    .name .tile-title div:nth-child(1) {
        margin-bottom: 5px;
    }

    .name .tile-title div:nth-child(2) {
        margin-top: 5px;
    }

    .resume .tile-title {
        -webkit-transform: translatex(-50%) translateY(-50%) rotate(270deg);
        -ms-transform: translatex(-50%) translateY(-50%) rotate(270deg);
        transform: translatex(-50%) translateY(-50%) rotate(270deg);
        font-size: 1.5em;
        width: 165px;
        height: 37px;
    }

    .resume .tile-title > div {
        display: inline-block;
    }
}

@media (max-width: 650px) {
    .tile-title {
        position: absolute;
        bottom: 28px;
        left: 28px;
    }

    .name .tile-title {
        max-width: 210px;
        margin: 0 auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }

    .name .tile-title div:nth-child(1) {
        margin-bottom: 5px;
        font-size: .8em;
    }
    .name .tile-title div:nth-child(2) {
        font-size: .4em;
    }

    .resume .tile-title {
        -webkit-transform: translatex(-50%) translateY(-50%) rotate(360deg);
        -ms-transform: translatex(-50%) translateY(-50%) rotate(360deg);
        transform: translatex(-50%) translateY(-50%) rotate(360deg);
        font-size: 1.5em;
        height: auto;
    }

    .resume .tile-title > div {
        display: block;
    }
}

@media (max-width: 460px) {
    .about .tile-title {
        -webkit-transform: rotate(270deg) translateY(-50%);
        -ms-transform: rotate(270deg) translateY(-50%);
        transform: rotate(270deg) translateY(-50%);
        bottom: 50px;
        left: 0px;
    }

    .about .tile-title {
        left: 15px;
        bottom: 52px;
    }

    .is-hovered.about .tile-title {
        left: 19px;
        bottom: 53px;
    }

    .resume .tile-title {
        -webkit-transform: translatex(-50%) translateY(-50%) rotate(270deg);
        -ms-transform: translatex(-50%) translateY(-50%) rotate(270deg);
        transform: translatex(-50%) translateY(-50%) rotate(270deg);
        height: auto;
        font-size: 1.4em;
    }
}